//---------------------------------------------------------------------------
//
// Name:        WindChillIndexApp.rc
// Author:      Oxygen
// Created:     2017/8/19 ¤U¤È 07:13:29
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
